<h1>Create New Member</h1>

<form class="create-new-member-form" action="/members" method="POST">

	<div class="first-last-name-group">
		<div class="form-row">
			<label class="text-input-label" name="name_first">First Name</label>
			<input class="text-input" name="name_first" type="text">
		</div>
		<div class="form-row">
			<label class="text-input-label" name="name_last">Last Name</label>
			<input class="text-input" name="name_last" type="text">
		</div>
	</div>
	<div class="email-phone-group">
		<div class="form-row">
			<label class="text-input-label" name="email">Email</label>
			<input class="text-input" name="email" type="email">
		</div>
		<div class="form-row">
			<label class="text-input-label" name="phone">Phone</label>
			<input class="text-input" name="phone" type="tel" value="" pattern="[0-9]{3}.[0-9]{3}.[0-9]{4}" title="###.###.####">
		</div>
	</div>
	<div class="program-rank-group">

		<fieldset class="program-fieldset">
			<legend>Program</legend>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="program" value="Jiu-Jitsu">
				<label class="radio-label" for="Jiu-Jitsu">Jiu-Jitsu</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="program" value="Kick Boxing">
				<label class="radio-label" for="Kick Boxing">Kick Boxing</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="program" value="MMA">
				<label class="radio-label" for="MMA">MMA</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="program" value="Fitness">
				<label class="radio-label" for="Fitness">Fitness</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="program" value="All">
				<label class="radio-label" for="All">All</label>
			</div>
		</fieldset>

		<fieldset class="rank-fieldset">
			<legend>Jiu-Jitsu Rank</legend>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="rank" value="white">
				<label class="radio-label" for="white">white</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="rank" value="blue">
				<label class="radio-label" for="blue">blue</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="rank" value="purple">
				<label class="radio-label" for="purple">purple</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="rank" value="brown">
				<label class="radio-label" for="brown">brown</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="rank" value="black">
				<label class="radio-label" for="black">black</label>
			</div>
		</fieldset>

		<fieldset class="staff-fieldset">
			<legend>Staff</legend>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="staff" value="true">
				<label class="radio-label" for="staff">Yes</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="staff" value="false">
				<label class="radio-label" for="staff">No</label>
			</div>
		</fieldset>

		<fieldset class="instructor-fieldset">
			<legend>Instructor</legend>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="instructor" value="true">
				<label class="radio-label" for="instructor">Yes</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="instructor" value="false">
				<label class="radio-label" for="instructor">No</label>
			</div>
		</fieldset>

		<fieldset class="admin-fieldset">	
			<legend>Admin</legend>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="admin" value="true">
				<label class="radio-label" for="admin">Yes</label>
			</div>
			<div class="radio-button-row">
				<input class="radio-input" type="radio" name="admin" value="false">
				<label class="radio-label" for="admin">No</label>
			</div>
		</fieldset>

	</div>


	<a class="form-submit" href="/members">Cancel</a>
	<button class="form-submit" type="submit">Create</button>

</form>
