<header>
	<nav role="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/info">Info</a></li>
			<li><a href="/bjj_team">BJJ Team</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/schedules">Schedules</a></li>
			<li><a href="/schedules/new">New Schedule</a></li>
			<li><a href="/members">All Mems</a></li>
			<li><a href="/members/new">New Mem</a></li>
			<li><a href="/programs">All Progs</a></li>
			<li><a href="/programs/new">New Progs</a></li>
		</ul>
	</nav>
</header>