<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/shared/main.css">
	
</head>
<body>
	<%- include('../partials/_nav') %>
	<div class="container">
		<div class="content">
			<%- body %>
		</div>
	</div>

</body>
</html>