<h1>New Schedule</h1>

<% instructors.forEach(instructor => { %>
	<h3><%= instructor.name_first %> <%= instructor.name_last %></h3>
<% }) %>

<% programs.forEach(program => { %>
	<h3><%= program.training_program_title %></h3>
<% }) %>


<form>
	

</form>