@import 'nav.css';
@import 'table.css';
@import 'form.css';
@import 'show.css';
/*@import url('https://fonts.googleapis.com/css?Courier+Prime&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Open+Sans+Condensed:700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Open+Sans+Condensed:700|Open+Sans:300&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--base-color: 200;

	--main-color: hsla( var(--base-color), 100%, 27%, 100% );
	--main-color-with-alpha: hsla( var(--base-color), 100%, 27%, 90% );
	--main-color-light: hsla( var(--base-color), 100%, 40%, 35% );
	--main-color-extra-light: hsla( var(--base-color), 100%, 93%, 100% );
	--main-color-extra-extra-light: hsla( var(--base-color), 100%, 97%, 100% );

	--status-view: hsl(81, 65%, 70%);
	--status-edit: hsl(48, 80%, 70%);
	--status-delete: hsl(0, 50%, 80%);

	--status-view-dark: hsl(81, 65%, 30%);
	--status-edit-dark: hsl(48, 80%, 30%);
	--status-delete-dark: hsl(0, 50%, 30%);

	--site-font: 'Open Sans Condensed', 'helvetica', sans-serif;
	--form-font: 'Courier Prime', 'Courier', monospace;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: var(--site-font);
	font-size: 16px;
	background-color: #eee;
	min-height: 100vh;
	min-width: 100vw;
	height: auto;
}

body {
	position: absolute;
	width: 100%;
}

.container {
	width: 90%;
	margin: 4.5em auto;
	padding: .5em;
}

.content {
	margin: 0 auto;
	/*margin-top: 5em;*/
}

.index-page-logo {
	display: block;
	height: 55em;
	margin: 0 auto;
}

/*html, body {
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
}*/

h1, h2, h3, h4, h5, h6 {
	color: var(--main-color);
	text-align: center;
}

h1 {
	font-size: 2.75rem;
	line-height: 2.9rem;
	margin: .2em 0 .1em 0;
}

h2 {
	font-size: 2rem;
	margin: .4em 0 .1em 0;
}

h3 {
	font-size: 1.6rem;
	margin: .2em 0 .1em 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

p {
	color: var(--main-color);
	font-family: 'Open Sans';
	margin: .2em 0 .4em 0;
}

.indexLogo {
	display: block;
	margin: 3em auto;
	width: 80%;
}

.gitHubLink {
	text-align: center;
	font-size: 1.4rem;
}

.gitHubLink a {
	text-decoration: none;
	color: green;
	/*font-weight: 700;*/
}

.beltHeading {
	text-transform: uppercase;
}

.beltList {
	margin: 0;
	padding: 0;
}

.beltListItem {
	display: table;
	margin: 0 auto;
	font-size: 1.2rem;
	padding: .2em;
	color: #333;
	font-weight: 300;
	text-transform: uppercase;
}
