<h1>WHAT IS RALPH GRACIE BRAZILIAN JIU-JITSU?</h1>


<p>Brazilian Jiu-Jitsu or BJJ is a martial art based on grappling and ground fighting, focusing on the skill of controlling one’s opponent through techniques that force him or her to submit. It prides itself in being known as the “gentle art”, allowing a smaller, weaker person to use leverage and submissions (chokes, locks) to defend himself against a bigger opponent. With origins in Judo (Newaza) and Japanese Jujutsu, it has since been adapted and modified by Carlos Gracie and his family to become the martial art it is today.</p>

<p>Ralph Gracie Jiu-Jitsu is a style of Brazilian Jiu-Jitsu known for its toughness and aggression. The Ralph Gracie Jiu-Jitsu team is one of the most successful BJJ and MMA team in the world, producing many world champions. Find out why.</p>

<h1>WHAT IS SITYODTONG MUAY THAI?</h1>

<p>Muay Thai Kickboxing or simply Muay Thai is the most effective striking martial art in the world. Known as the Art of Eight Limbs--hands, feet, knees, and elbows--has become the most widely practiced kickboxing art in the world.</p>

<p>Sityodtong Muay Thai was founded by Grandmaster by Yodtong Senanan and produced 57 Muay Thai Champions, the most in the history of Muay Thai in Thailand.</p>

<p>The owner and head trainer of Sityodtong Boston, Mark Dellagrotte, is a teacher of various styles of Muay Thai such as Mae Mai Muay Thai, Pradal Serey, Muay Boran, Muay Lao, and also Burmese Boxing. The team members includes MMA fighters such as Marcus Davis, Dale Hartt,and Patrick Côté. Between UFC 67 and UFC 85, Team Sityodtong did not lose a fight in the UFC.</p>

<p>Chicago MMA is one of the only official Sityodtong affiliated in the world.</p>

<h1>WOMEN'S MARTIAL ARTS</h1>

<p>The women's martial arts program was created for women by women. The women's only class is focused on teaching authentic Muay Thai kickboxing for self-defense and fitness. Many students in the program are new to the sport, so it's designed to support beginners as well as the advanced.</p>

<h3>ALL WOMEN'S MUAY THAI BEGINNER CLASS</h3>

<p>You want to feel strong, powerful, and confident in your own body. Bring out the fighter in you inside and outside the ring. Muay Thai utilizes the whole body in self-defense and teaches focus, commitment, and decision-making.</p>

<p>Join a supportive, motivating, and all female-affirmative training environment that will help you build self-confidence and self-defense skills with an experienced Muay Thai instructor.</p>

<p>Coach Rosie has been involved in Martial Arts since the age of 19. She started as a kick boxer, later learned Hapkido and also received her black belt in Tae Kwon Do. Muay Thai became an interest when she traveled to Thailand and started training there. She has spent the last 10 years continuing to learn, fight and also teach.</p>

<p>Coach Leah has been involved in combat sports for the last two years. She trains with the Chicago MMA Fight Team under Coach Brian Gassaway. She began fighting competitively in October of 2017, and is the current Thai Boxing Association Ladies Novice Bantamweight Champion.</p>

<h1>YOUTH MARTIAL ARTS PROGRAM</h1>

<p>Chicago MMA offers Chicago's most complete Mixed Martial Arts and Brazilian Jiu-Jitsu program for kids ages 4-5 and youth ages 6-9 and 9-13.</p>

<p>The programs are designed to introduce students to martial arts in a fun and safe environment. Our instructors are trained to bring the best out of our students.</p>

<p>Bring your children in for a free class!</p>